Etter at du har fyllt ut de nødvendige feltene vil du bli overført til PayPals side for sikker nettbetaling.<br/>
<br/>
Når betalingen er utført velger du "back to seller".<br/>
Dette bekrefter og fullfører ordren din hos oss.<br/>
<br/>
Hvis det oppstår problemer så kan du ta kontakt med oss
på telefon <b>55 123456</b> eller email <a href="mailto:kontakt@keyboardsenter.no">kontakt@keyboardsenter.no</a>.