Etter at du har fyllt ut alt det nødvendige vil du bli overført til PayPals side for sikker nettbetaling.<br/>
<br/>
Når betalingen er utført må du være sikker på at du trykker "back to seller" for å
få bekreftet og fullført ordren din hos oss.<br/>
<br/>
Hvis det oppstår problemer så kan du ta kontakt med oss
på telefon <b>55 123456</b> eller email <a href="mailto:kontakt@keyboardsenter.no">kontakt@keyboardsenter.no</a>.