<div id="fullContent">
	<!-- PRODUCTS LIST -->
	<%= render :partial => 'product', :collection => @products %>

  <% if @products.length == 0 then %>
    <p>
      Beklager, fant ingen produkter i denne kategorien.
    </p>
  <% end %>


  <br/>
	<!-- takes up space so we can see the bottom content on this page -->
	<div id="bottomSpacer">&nbsp;</div>
</div>


<div class="clear">&nbsp;</div>
<%= will_paginate @products %>