div#header {
	width: 100% auto;
	height: 72px;
	padding: 24px 96px;
	background-color: #ffffff;
}



/* His stuff */


#toplinks {
	float: right;
}

#toplinks li {
	margin-right: 15px;
	float: right;
}

#searchbox {
	float:right;
	clear:right;
	margin-top: 16px;
	width: 500px;
}

#searchbox .textInput {
	width: 250px;
}