div#header {
	width: 100% auto;
	height: 72px;
	padding: 24px 96px;
	background-color: #ffffff;
	
	border: 1px solid #dddddd;
	
	border-top: 0px;
	border-bottom: 0px;
}

/* His stuff */

#toplinks {
	float: right;
}

#toplinks li {
	margin-right: 15px;
	float: right;
}

#searchbox {
	float:right;
	clear:right;
	margin-top: 16px;
	width: 500px;
}

#searchbox .textInput {
	width: 250px;
}