#product_list {
	width: 100%;
	background-color: #ffffff;
}

#product_list tr td {
	padding-right: 24px;
}

#product_list tr.item td {
	line-height: 24px;
	border-bottom: 1px dashed #eeeeee;
}

#product_list tr td.manufacturer_logo {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 8px;
}

#product_list tr td.price {
	text-align: right;
}

#product_list a, #product_list a:visited {
	font-size: 16px;
	font-weight: normal;
	color: #000000;
}

#product_list a:hover {
	font-weight: normal;
	color: #991155;
	/* background-color: #444444;
	padding: 0px 8px;
	margin-left: -8px; */
}